# Version control
.git
.gitignore
.gitattributes

# Development
*.log
.env
.env.*
!.env.example
.editorconfig
.idea
.vscode
docker-compose.yml
docker-compose.*.yml
*.md
tests

# Dependencies
/node_modules
/vendor
npm-debug.log
yarn-error.log

# Build output
/public/build
/public/hot
/public/storage
/storage/*.key

# Cache
.phpunit.result.cache
/bootstrap/cache/*

# System files
.DS_Store
Thumbs.db